<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>BDK鞋鋪-慢跑鞋</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'main/css/st.css' %}">
</head>
<body>
<div id="wrapper">
  <aside>
  <b><I><h1>籃&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;球&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;鞋</h1></I></b>
<table>
  <tr>
  <td><img class="s1" src="/static/main/img/adidas.jpg"></td>
    <td class="c1" >
      HARDEN VOL.3 靈感來自詹姆斯哈登，鞋子的設計是為了創造防守者的空間，並在每次用他的獨特性風格控球時操縱球場。 當你用交叉和後背攻擊籃框時，它們的設計更靈活，可以進行側向移動和控制。 在每個歐洲步驟上回歸能量，它們具有出色的抓地力和控制力，可以改變方向。
    </td>

  </tr>
  <tr>
    <td class="text1">尺寸<br>US 9<br>US 9.5<br>US 10<br>US 10.5</td>
  </tr>
  <tr>
    <td></td>
    <td>
    <ul>
    <li id="text2"><a class="c2" href="{% url 'main:form' %}">訂&nbsp;&nbsp;&nbsp;購</a></li>
    </ul>
    </td> 
  </tr>
</table>
  </aside>
  <div id="content">
  <ul id="menu">
  <li id="one"><a class="tt" href="{% url 'main:main' %}">B.D.K 鞋鋪</a></li>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <li><a class="tt" href="{% url 'main:shoes1' %}">慢跑鞋</a></li>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <li><a class="tt" href="{% url 'main:shoes2' %}">籃球鞋</a></li>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  <li><a class="tt" href="{% url 'main:shoes3' %}">帆布鞋</a></li>
  </ul>
  </div>
  <footer id="top">
----
  </footer>
  <footer id="under">
----
  </footer>
  
</div> 

</body>
</html>