<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>BDK鞋鋪-慢跑鞋</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'main/css/st.css' %}">
</head>
<body>
<div id="wrapper">
  <aside>
  <b><I><h1>帆&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;布&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;鞋</h1></I></b>
<table>
  <tr>
  <td><img class="s1" src="/static/main/img/Converse .png"></td>
    <td class="c1" >
      • GORE-TEX® 的內襯和防潑水鞋面<br>
      • 提供柔軟舒適的穿著體驗<br>
      • 街頭美學與機能風格融為一體<br>
      • 打造具備戶外機能的全新潮流鞋款
    </td>

  </tr>
  <tr>
    <td class="text1">尺寸<br>US 9<br>US 9.5<br>US 10<br>US 10.5</td>
  </tr>
  <tr>
    <td></td>
    <td>
    <ul>
    <li id="text2"><a class="c2" href="{% url 'main:form' %}">訂&nbsp;&nbsp;&nbsp;購</a></li>
    </ul>
    </td> 
  </tr>
</table>
  </aside>
  <div id="content">
  <ul id="menu">
  <li id="one"><a class="tt" href="{% url 'main:main' %}">B.D.K 鞋鋪</a></li>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <li><a class="tt" href="{% url 'main:shoes1' %}">慢跑鞋</a></li>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <li><a class="tt" href="{% url 'main:shoes2' %}">籃球鞋</a></li>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  <li><a class="tt" href="{% url 'main:shoes3' %}">帆布鞋</a></li>
  </ul>
  </div>
  <footer id="top">

  </footer>
  <footer id="under">

  </footer>
  
</div> 

</body>
</html>