<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>BDK鞋鋪-慢跑鞋</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'main/css/form.css' %}">
</head>
<body>
<div id="wrapper">
  <aside>
  <form id="order" method="post">
  <fieldset>
  <h1>訂購單</h1>
  <p>姓氏：<input id="name1" type="text" name="name1">
  <br><br><br>名字：<input id="name2" type="text" name="name2">
  <br><br><br>國家/地區:
  <select name=country>
  <option value=0>台灣</option>
  <option value=1 selected>香港</option>
  <option value=2 selected>澳門</option>
</select>
    <br><br><br>郵遞區號：<input id="number1" type="text" name="number1">
    <br><br><br>地址：<input id="adress" type="text" name="adress">    
    <br><br><br>行動電話：<input id="mobile" type="text" name="mobile">
    <br><br><br>身份證字號：<input id="number2" type="text" name="mobile">
    <br><br><br>電子郵件：<input id="mobile" type="text" name="mobile">
    <br><br><br>選擇寄送方式
    <br><br><label><input type="radio" name=r1 value=01> 標準</label>
    <br><br><label><input type="radio" name=r1 value=02> 快遞</label>
    
    <br><br><input type="checkbox" name=x1 value=03> 加入 B.D.K，儲存個人的寄送詳細資料，讓結帳過程更快速
    <br><br><input type="checkbox" name=x2 value=04> 我已閱讀隱私權聲明和 Cookie 政策，並同意 eShopWorld 依照該聲明和該政策處理我的相關資訊。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;eShopWorld 是 B.D.K 信任的合作夥伴。</p>
    <br><input type="submit" value=送出>
    </fieldset>
    </form>
  </aside>
  <div id="content">
  <ul id="menu">
  <li id="one"><a class="tt" href="{% url 'main:main' %}">B.D.K 鞋鋪</a></li>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <li><a class="tt" href="{% url 'main:shoes1' %}">慢跑鞋</a></li>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <li><a class="tt" href="{% url 'main:shoes2' %}">籃球鞋</a></li>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  <li><a class="tt" href="{% url 'main:shoes3' %}">帆布鞋</a></li>
  </ul>
  </div>
  <footer id="top">
-----
  </footer>
  <footer id="under">
-----
  </footer>
  
</div> 

</body>
</html>