<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>BDK鞋鋪-慢跑鞋</title>
<meta charset="utf-8">
 <link rel="stylesheet" href="{% static 'main/css/form.css' %}">
</head>
<body>
<div id="wrapper">
  <aside>
  <h1>訂&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;購&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;單</h1>
<form method="post" action="{% url 'order:order' %}">
  {% csrf_token %}
  {{orderForm.as_p}}
  <input type="submit" value="送出">
</form>

  </aside>
  <div id="content">
  <ul id="menu">
  <li id="one"><a class="tt" href="{% url 'main:main' %}">B.D.K 鞋鋪</a></li>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <li><a class="tt" href="{% url 'main:shoes1' %}">慢跑鞋</a></li>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <li><a class="tt" href="{% url 'main:shoes2' %}">籃球鞋</a></li>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  <li><a class="tt" href="{% url 'main:shoes3' %}">帆布鞋</a></li>
  </ul>
  
  </div>
  <footer id="top">

  </footer>
  <footer id="under">
----
  </footer>
  
</div> 

</body>
</html>