* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  width:100%
}

body {
 
  margin: 0;
  padding: 0;
  
  
}

ul#menu {
  margin-bottom: 30px;
  text-align: center;
}

ul#menu li {
  display: inline-block;
  font-size:40px;
}


div#wrapper {
  margin: 0 auto;
  width: 100%;
  height:100%;
  
}


aside {
  width: 70%;
  height: 100%;
  float: left;
  border: 1px solid black;
  background-color: #FFF49C;
  text-align:center;
  
}
table{
  height:50;
  width:100%;
  textalign:center;
}
.s2{
  height:18em;
  width:35em;
}
.text2{
  font-size:35px;
}
div#content {
  width: 30%;
  height: 100%;
  float: left;
  border: 1px solid black;
  border-width:1px 1px 1px 0;  
  background-color: #DAC6FF;
  text-align:center;
  
}

footer#top {
  clear:both;
  width:100%;
  background-color:gray;
  border: 1px solid black;
  text-align:center;
}
footer#under {
  clear:both;
  width:100%;
  background-color:gray;
  border: 1px solid black;
  border-width:0 1px 1px 1px; 
  text-align:center;
}
h1{
  color:#B61B1B;
  font-size:90px;
}
ul#menu li#one{
  font-size:70px;
}
.tt{
  text-decoration: none;
}

